.mixin.out
backups
crash-reports
downloads
journeymap
llibrary
local
logs
mainmenu
mods
resourcepacks
saves
resources
screenshots
.curseclient
.ReAuth.cfg
crafttweaker.log
knownkeys.txt
minecraftinstance.json
options.txt
usercache.json
usernamecache.json
